.events_section {
  background: url(./backGround.svg);
  padding: 150px 50px;
  width: 100vw;
}
.heading {
  text-align: center;
  font-size: 6vw;
  color: #fff;
  /* background-clip: text; */
  /* background-image: linear-gradient(to bottom right, #ff00ee, #ff0932); */
}
.sub_heading{
  text-align: center;
  font-size: 3vw;
  color: #fff;
}
.events_container {
  margin-top: 50px;
  background: url(./backGround.svg);
  width: auto;
  /* background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url("./Hero.svg"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  flex-wrap: wrap;
  padding: 0 50px;
}
@media screen and (max-width: 768px) {
  .events_container {
    padding: 0;
  }
}
