.sliderbody {
    align-items: center;
    background: none;
    display: flex;
    height: auto;
    justify-content: center;
}

@-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-550px * 10));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-550px * 10));
    }
}
.slider {
    background: none;
    height: 400px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 90vw;
}
.slider::before, .slider::after {
    background: none;
    content: "";
    height: 400px;
    position: absolute;
    width: 60px;
    z-index: 2;
}

.slider::after{
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
}


.slide img {
    height: 300px;
    width: 520px;
    padding: 3rem;
}


.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    -webkit-animation: scroll 10s linear infinite;
    animation: scroll 10s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 400px;
    width: 60px;
}


.carousel-container{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 2px;
}

.carousel-container:has(.carousel-img.active) .carousel-img:not(.active) {
    filter: grayscale(100%);
}

.carousel-img {
    height: 100%;
    width: calc(100% / 5);
    object-fit: cover;
    overflow: hidden;
    border: 2px solid #141414;
    transition: transform 0.4s cubic-bezier(0.32, 0, 0.67, 0), opacity 0.4s;
    opacity: 0;
    cursor: pointer;
    will-change: transform, opacity;
}

.carousel-img.active {
    transform: scale(1.5);
    width: 60%;
    /*z-index: 1; !* Ensure the active image is above others *!*/
}

.carousel-img.loaded {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .carousel-container {
        flex-direction: column;
        height: 80vh;
    }

    .carousel-img {
        height: calc(100% / 5);
        width: 100%;
    }

    .carousel-img.active {
        transform: scaleY(2);
        width: 100%;
        height: calc(100% / 3);

    }
    .carousel-img:not(.active) {
        height: calc(100% / 5);
    }
}
