.leaderboard_section {
  background: url(../assets/backGround.svg);
  padding: 150px 50px;
  width: 100vw;
}
.heading {
  text-align: center;
  font-size: 6vw;
  color: #fff;
  /* background-clip: text; */
  /* background-image: linear-gradient(to bottom right, #ff00ee, #ff0932); */
}
.para {
  text-align: justify;
  padding: 3rem;
  color: #fff;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 10vw;
  }
  .para {
    padding: 0.5rem;
    margin-bottom: 8rem;
  }
}
