@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");


.profile-body {
    background: none;
    height: auto;
    display: grid;
    place-items: center;
    font-family: Montserrat;
    color: #b3afbf;
}

.card {
    padding: 15px;
    width: 350px;
    background: #222;
    margin: 10%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    opacity: 0.9;
    text-align: center;
    user-select: none;
}


@media screen and (max-width: 768px) {
    .profile-secretary {
        flex-direction: column;
        gap: 10%;
        margin:10%;
    }

    .card{
        width: 100%;
        height: auto;
    }
    .cover-photo {
        border-radius: 5px 5px 0 0;
        height: 0%;
    }
    .profile {
        position: absolute;
        width: 120px;
        bottom: -60px;
        left: 15px;
        border-radius: 50%;
        border: 2px solid #222;
        background: #222;
        padding: 5px;
    }
}


.card:hover{
    /*border glowing when hovering*/
    box-shadow: 0 0 10px #7ce3ff, 0 0 20px #7ce3ff, 0 0 40px #7ce3ff;
    opacity: 1;

}


.cover-photo {
    position: relative;
    background: url(https://i.imgur.com/jxyuizJ.jpeg);
    background-size: cover;
    height: 100px;
    border-radius: 5px 5px 0 0;
}

.profile {
    position: absolute;
    width: 120px;
    bottom: -60px;
    left: 15px;
    border-radius: 50%;
    border: 2px solid #222;
    background: #222;
    padding: 5px;
}

.profile-name {
    font-size: 20px;
    margin: 25px 0 0 120px;
    color: #fff;
}

.about {
    margin-top: 30px;
    line-height: 1.6;
    font-size: 2rem;
    font-weight: bold;
}

.btn {
    margin: 30px 15px;
    background: #7ce3ff;
    padding: 10px 25px;
    border-radius: 3px;
    border: 1px solid #7ce3ff;
    font-weight: bold;
    font-family: Montserrat;
    cursor: pointer;
    color: #222;
    transition: 0.2s;
}

.btn:last-of-type {
    background: transparent;
    border-color: #7ce3ff;
    color: #7ce3ff;
}

.btn:hover {
    background: #7ce3ff;
    color: #222;
}

.icons {
    width: 180px;
    margin: 0 auto 10px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.icons i {
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    transition: 0.2s;
}

.icons i:hover {
    color: #7ce3ff;
}
